.idea
.DS_Store
**/npm-debug.log
**/node_modules
test
__tests__
src
build
gulpfile.js

.editorconfig
.prettierrc
.prettierignore
.release-it.json
typedoc.js
tsconfig.json
jest.config.js
babel.config.js
yarn-error.log
yarn.lock
